# 排除直接编译产物 (如编译器生成的无后缀文件)
main
*.out
# 编译产物
build/
*.o
*.so
*.a
mini-player
# 编辑器临时⽂件
*.swp
*.swo
.vscode/
.idea/
# 系统⽂件
.DS_Store
Thumbs.db
# ⼤⽂件素材
assets/*.mp4
assets/*.mkv
assets/*.flv
!assets/sample.mp4
# 排除 clangd 等本地工具缓存
.cache/